@model IEnumerable<TimuVladProiect.Models.AppointmentViewModel.AppointmentGroup>
@{
    ViewData["Title"] = "Appointments Statistics";
}
<h2>Appointments Statistics</h2>
<table>
    <tr>
        <th>
            Appointment Date
        </th>
        <th>
            Appointments
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @item.ReservationsCount
            </td>
        </tr>
    }
</table>